## Segmenting and Clustering Neighborhoods in Toronto Part II.

Now that you have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

In [1]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis

### Recall Toronto Dataframe from Part I

In [2]:
TorontoPostalCodes = pd.read_csv('toronto_part1.csv')
TorontoPostalCodes.drop('Unnamed: 0',axis=1,inplace = True)
TorontoPostalCodes.head()

  Postcode      Borough                            Neighborhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

### Download Geographical Coordinates

In [3]:
toronto_geocsv = 'https://cocl.us/Geospatial_data'
!wget -q -O 'toronto_m.geospatial_data.csv' toronto_geocsv
geocsv_data = pd.read_csv(toronto_geocsv)
geocsv_data.rename(columns={'Postal Code':'Postcode'}, inplace = True)
geocsv_data.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

### Combine Toronto Dataframe With Coordinate

In [4]:
toronto_neighborhoods = pd.merge(TorontoPostalCodes, geocsv_data, on='Postcode')
toronto_neighborhoods.head()

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [5]:
# Save dataframe for future use
toronto_neighborhoods.to_csv('toronto_part2.csv')

In [6]:
toronto_neighborhoods.shape

(103, 5)

In [7]:
# Find Out Number of Borough and Neighborhoods
print('The dataframe has {} boroughs and {} neighbourhoods.'.format(
        len(toronto_neighborhoods['Borough'].unique()),
        toronto_neighborhoods.shape[0]))

The dataframe has 11 boroughs and 103 neighbourhoods.